* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.container-one {
    background-color: #2c3e50;
}

.container-two {
    width: 80%;
    padding-left: 5px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-grow: 1; /* Allow navbar to take all available space */
    box-sizing: border-box; /* Include padding in width calculations */
}

.navbar h1 {
    color: white; /* Make the text white */
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size */
    white-space: nowrap; /* Prevent text wrapping */
}

.navbar .right {
    display: flex;
    align-items: center;
    gap: 15px; /* Add spacing between buttons */
    white-space: nowrap; /* Prevent items from wrapping */
}

.navbar button {
    background-color: #3c9eff; /* Button background */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center; /* Align text and icon vertically */
    gap: 5px; /* Add space between icon and text if needed */
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #2f96eb; /* Hover effect */
}

.navbar button svg {
    width: 20px;
    height: 20px;
}


.main-content {
    margin-top: 0;
    margin-left: 5px;
    flex: 1;
    padding: 20px;
    background-color: #2c3e50;
}

#info-head{
    text-align: left;
    margin: 5px;    
    font-size: 2.5em;
}

.info-dashboard {
    margin-left: 5px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
  }



  .info-box {
    min-width: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .info-box h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #111111;
  }

  .info-box p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }

  .info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

   a{
    text-decoration: none;
  }

  .pending{
    background-color: rgb(252, 137, 30);
  }

  .approved{
    background-color: rgb(0, 167, 42);
  }

  .cancelled{
    background-color: rgb(224, 27, 27);
  }

  .pending h3, .approved h3, .cancelled h3 {
    color: white;
    font-size: 1.5rem;
  }
  .pending p, .approved p, .cancelled p, .users-link p {
    color: white;
  }

  .users-link{
    background-color: #36a5ff;
  }
  .users-link svg{
    color: #ffffff;
  }


