*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.container-one{
   background-color:#2c3e50;
}

.container-two{
    width: 80%;
    padding-left: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

h2{
    font-size: 24px;
    text-align: center;
}


td {
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

td img{
    height: 120px;
    width: 150px;
}

th {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
    font-size: 19px;
}

td {
    background-color: #f9f9f9;
}

.action-buttons {
    text-align: center;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 2px;
}

.edit-btn {
    background-color: #2c8d2f; 
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #c22b20;
}

.delete-btn:hover {
    background-color: #e53935;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #f4f4f4;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #ddd;
}

.show-entries {
    text-align: left;
    margin-bottom: 10px;
}
