<div class="sidebar">
    <div class="logo">
        <h1>Admin Panel</h1>
    </div>
    <ul>
        <li><a href="admin_dashboard.php">Dashboard</a></li>
        <li>
            <a href="#" onclick="toggleDropdown('vehicleDropdown', this)">
                Manage Vehicles
                <svg class="arrow" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </a>
            <ul id="vehicleDropdown" class="dropdown">
                <li><a href="add_vehicle.php">Add Vehicle</a></li>
                <li><a href="view_vehicle.php">View Vehicles</a></li>
            </ul>
        </li>

        <li><a href="manage_rental.php">Manage Rentals</a></li>

        <li>
        <a href="view_users.php">Manage Users</a>

        </li>

        <li><a href="manage_contacts.php">Messages</a></li>


        <li>
            <a href="#" onclick="toggleDropdown('settingsDropdown', this)">
                Settings
                <svg class="arrow" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </a>
            <ul id="settingsDropdown" class="dropdown">
                <li><a href="change_password.php">Change Password</a></li>
            </ul>
        </li>
    </ul>
</div>