
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Headings */
h1, h2, h3 {
  color: #000000;
  font-weight: 700;
}

.about-us h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

/* Paragraphs */
 .about-us p, .our-mission p{
  font-size: 1.1em;
  color: #2b2b2b;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* About Us Section */
.about-us, .our-mission {
  background-color: #fff;
  padding: 50px 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.our-mission{
  margin-bottom: 0;
}

/* Team Section */
.team {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.member {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 380px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.member:hover {
  transform: translateY(-10px);
}

.member img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.member h3 {
  font-size: 1.5em;
  color: #2b2b2b;
  margin-bottom: 10px;
}

.member p {
  color: #2b2b2b;
  font-size: 1em;
}

/* Our Mission Section */
.our-mission h2 {
  color: #000000;
}

.key-points {
  text-align: left;
  margin: 20px 0;
  list-style: disc inside;
  padding-left: 15px;
}

.key-points li {
  color: #1b1b1b;
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.5;
}

ul.key-points li::marker {
  color: #000000;
}










  