

.container{
margin: 20px auto;
border: 1px solid rgb(184, 184, 184);
border-radius: 13px;
width: 400px;
display: flex;
flex-direction: column;
background-color: white;
padding: 20px;
}

.container h2{
  font-size: 30px;
  text-align: center;
}

input[type=text],[type=password]{
  display: flex;
  width: 100%;
  height: 40px;
  margin: 15px 0;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 12px;
  outline: none;
  background-color: #e2e2e2;
  border: 1px solid rgb(255, 255, 255);
}


input[type=text]:focus{
  border: 1px solid rgb(192,192,192);
}
input[type=password]:focus{
  border: 1px solid rgb(192,192,192);
}
input[type=email]:focus{
  border: 1px solid rgb(192,192,192);
}

input[type=checkbox]{
  display: inline;
  margin-right: 7px;  
}

.center-text{
  text-align: center;
}

.sign{
  font-size: 20px;
  margin: 10px;
}
.log-in{
  font-size: 20px;
  margin: 10px;
}

#forgot, #sign, #log-in, #terms{
  text-decoration: none;
  color: #0A58CD;
}
#forgot:hover{
  color: #007de4;
}

#terms:hover{
  color: #007de4;

}

 #sign:hover{
  color: #007de4;
}
#log-in:hover{
  color: #007de4;
}

.center-text {
  /* margin: 7px 0; */
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.connect-with {
  font-size: 17px;
  position: relative;
  z-index: 2; 
  background-color: white; 
  padding: 0 10px; 
}

.line {
  position: absolute;
  top: 50%; 
  left: 0;
  right: 0;
  height: 1px;
  border: none;
  background-color: rgb(92, 92, 92); 
  z-index: 1; 
}



.con-icons{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.icons img{
  height: 40px;
  width: 40px;
}




button {
  margin:10px 0;
  padding: 9px;
  background-color: #015db9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #003060;
}









