
#home {
  height: 100vh;
  overflow: hidden;
}

#home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

.home-txt {
  width: 50%;
  color: white;
  text-align: left;
  z-index: 1; 
  position: relative;
  left: 20px;
  top: 55px;
}

.home-txt h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.home-txt p {
  font-size: 2rem;
  margin-bottom: 20px;
}

#btn {
    padding: 12px 30px;
    font-size: 1.1rem;
    cursor: pointer;
}


.btn-primary {
  padding: 12px 30px;
  background-color: #006bdde1;
  color: #fff;
  text-decoration: none;
  border-radius: 9px;
  transition: 0.3s;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.hero-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#why-choose {
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
}

#why-choose h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000000;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  width: 50%;
  overflow: hidden;
  border-radius: 30px;

  box-shadow: 9px 7px 13px 5px rgba(0,0,0,0.7);
}

.image-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.content {
  margin-left: 7px;
  width: 55%;
  font-size: 1.1rem;
  color: #202020;
  line-height: 1.7;
  text-align: left;
}

@media (max-width: 768px) {
  .content-wrapper {
      flex-direction: column;
      text-align: center;
  }
  
  .image-container,
  .content {
      width: 100%;
  }

  .image-container img {
      height: 250px;
  }
}



.carousel {
  position: relative;
  padding: 40px 20px;
  background-color: #fff;
  overflow: hidden; 
}

.carousel h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

.carousel-container {
  display: flex;
  overflow: hidden; 
}

.carousel-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 80%; 
  position: relative;
  text-align: center;
  margin: 0 10%; 
}

.carousel-item img {
  width: 100%;
  height: 500px; 
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.726);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2.5rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}





